:host {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  mat-form-field {
    font-size: 1.1em;
    min-width: 15rem;
    margin: 1.1em;
  }
  mat-card {
    mat-card-header {
      mat-card-subtitle:nth-child(4) {
        a {
          color: #ff9800;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  app-post-skeleton {
    min-width: 20.5em;
    width: 80%;
  }

  @media screen and (max-width: 768px) {
    mat-card {
      width: 80%;
      margin-bottom: 2em;

      mat-card-header {
        font-size: 0.7em;
      }

      mat-card-content {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    mat-card {
      width: 90%;
      margin-bottom: 2em;
    }
  }
}
