:host {
  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .table-container {
      overflow: auto;
    }

    table {
      width: 100%;
    }

    mat-form-field {
      font-size: 14px;
      width: 100%;
    }
  }
}
