<mat-card>
  <div class="skeleton-item">
    <div class="first-section-wrapper">
      <div class="avatar">
        <ngx-skeleton-loader
          [theme]="{
            'background-color': '#303030',
            width: '60px',
            height: '60px'
          }"
          appearance="circle"
        >
        </ngx-skeleton-loader>
      </div>
      <div class="avatar-title">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color': '#303030',
              width: '150px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color': '#303030',
              width: '170px',
              height: '15px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="second-section-wrapper">
      <div class="wrapper">
        <ngx-skeleton-loader
          [theme]="{
            'background-color': '#303030',
            width: '80%',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div class="wrapper">
        <ngx-skeleton-loader
          [theme]="{
            'background-color': '#303030',
            width: '90%',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div class="wrapper">
        <ngx-skeleton-loader
          [theme]="{
            'background-color': '#303030',
            width: '60%',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</mat-card>
